body {
  background: lightcoral;
  margin: 0;
}

h1 {
  margin: 0 400px 20px;
  text-align: center;
  font-size: 80px;
  color: #fff;
}
h1:hover {
  background-color: navy;
}
h2 {
  margin: 0 500px;
}
h2:hover {
  background-color: #fff;
}
main {
  text-align: center;
}
